.activities
  +position(relative)
  border-right: .0625rem solid #ddd
.activities__date-separater
  +text-block(.8125rem 1.45, 600)

.activities__body
  +overflow(hidden auto)
  padding: 1rem

.activities__footer
  +position(absolute, left 0, bottom 0, right 0)
  background-color: #f4f4f4
  border-top: solid 1px #ddd
  +size(100% auto)
  padding: 1rem
