.activities-nav
  border-bottom: solid .0625rem #ddd
  background-color: #f4f4f4
  height: $activities-nav-height + .0625rem
  +padding(horizontal, .75rem)
  box-shadow: rgba(black, .08) 0 0 1px 1px
.activities-nav__container
  +position(relative)
