.project-status-item-body
  max-height: 0
  overflow: hidden
  transition: max-height .2s ease-in
  &.is-shown
    max-height: 8.75rem

.project-status-item-body__inner
  +padding(horizontal, .5rem)
  padding-bottom: .75rem

.project-status-item-body__description
  margin-bottom: .5rem
  p
    +text-block(.75rem 1.45, $reversal-text)
    .project-status-item.is-active &
      color: $default-text
.project-status-item-body__link-container
  text-align: right
.project-status-item-body__link
  background-color: #383838
  +text-block(.75rem 1.45, $reversal-text)
  padding: .25rem .75rem
  border-radius: .25rem
