h1 タイムライン

ol.timeline
  li
    i.fa.fa-calendar= '　'
    span 7月5日
  li.action
    i.fa.fa-play= '　'
    span "怖話" を開始。
    span.time 8時10分
  li.action
    i.fa.fa-git= '　'
    span "🐛 1ページに同じフォームが2個あったのを1つにした" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-git= '　'
    span "余計な空行を削除" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-github= '　'
    span "[WIP] 読者になる機能" をPull Request。
    span.time 9時0分
  li.action
    i.fa.fa-slack= '　'
    span "本番環境にアップしましたー！"
    span.time 9時0分
  li.action
    i.fa.fa-slack= '　'
    span "各自ご確認お願いします。"
    span.time 9時0分
  li.action
    i.fa.fa-play= '　'
    span "KRAY" を開始しました。
    span.time 9時0分
  li.action
    i.fa.fa-git= '　'
    span "rubyのバージョンを2.3.1にアップ" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-stop= '　'
    span "KRAY" を終了しました。
    span.time 19時20分
  li
    i.fa.fa-calendar= '　'
    span 7月6日
  li.action
    i.fa.fa-play= '　'
    span "怖話" を開始。
    span.time 8時10分
  li.action
    i.fa.fa-git= '　'
    span "🐛 1ページに同じフォームが2個あったのを1つにした" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-git= '　'
    span "余計な空行を削除" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-github= '　'
    span "[WIP] 読者になる機能" をPull Request。
    span.time 9時0分
  li.action
    i.fa.fa-slack= '　'
    span "本番環境にアップしましたー！"
    span.time 9時0分
  li.action
    i.fa.fa-slack= '　'
    span "各自ご確認お願いします。"
    span.time 9時0分
  li.action
    i.fa.fa-play= '　'
    span "KRAY" を開始しました。
    span.time 9時0分
  li.action
    i.fa.fa-git= '　'
    span "rubyのバージョンを2.3.1にアップ" をcommit。
    span.time 9時0分
  li
    i.fa.fa-calendar= '　'
    span 7月7日
  li.action
    i.fa.fa-play= '　'
    span "怖話" を開始。
    span.time 8時10分
  li.action
    i.fa.fa-git= '　'
    span "🐛 1ページに同じフォームが2個あったのを1つにした" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-git= '　'
    span "余計な空行を削除" をcommit。
    span.time 9時0分
  li.action
    i.fa.fa-github= '　'
    span "[WIP] 読者になる機能" をPull Request。
    span.time 9時0分
  li.action
    i.fa.fa-slack= '　'
    span "本番環境にアップしましたー！"
    span.time 9時0分
  li.action
    i.fa.fa-slack= '　'
    span "各自ご確認お願いします。"
    span.time 9時0分
  li.action
    i.fa.fa-play= '　'
    span "KRAY" を開始しました。
    span.time 9時0分
  li.action
    i.fa.fa-git= '　'
    span "rubyのバージョンを2.3.1にアップ" をcommit。
    span.time 9時0分
