.calendar-day
  +border(right bottom, solid .0625rem #ddd)
  height: 100%
  flex: 0 0 (100 / 7 * 1%)
  +position(relative)
  overflow: hidden
  &.is-current
    background-color: #e7f8ff
.calendar-day__link
  +block-link
  +position(absolute, left 0, top 0, right 0, bottom 0)
  padding: 1.75rem .25rem .25rem
  transition: box-shadow .2s ease-in
  &:hover
    box-shadow: #abddf0 0 0 0 2px inset
.calendar-day__label
  +position(absolute, left 0, top 0)
  width: 100%
  +text-block(.875rem 1.45, 600 $default-text)
  padding: .25rem .5rem
  &.is-sat
    color: #2f8fb4
  &.is-sun
    color: #d52525
.calendar-day__label-month
  display: inline-block
  margin-right: .25rem
.calendar-day__transactions
  +overflow(hidden auto)
  +size(100%)
.calendar-day__transaction
  +text-block(.75rem 1.45)
  &:last-child
    border-bottom: none
.calendar-day__transaction-link
  color: #498faa
  padding: .125rem .25rem
  display: block
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.calendar-day__transaction-start
  display: inline-block
  margin-right: .5rem
  color: $default-text

.calendar__week
  &.is-1
    .is-23,
    .is-24,
    .is-25,
    .is-26,
    .is-27,
    .is-28,
    .is-29,
    .is-30,
    .is-31
      background-color: #f4f4f4
  &.is-5
    .is-1,
    .is-2,
    .is-3,
    .is-4,
    .is-5,
    .is-6,
    .is-7
      background-color: #f4f4f4
