.tracker
  margin-bottom: 1rem
.tracker__container
  display: flex
  justify-content: center
.tracker__projects
  background-color: $base-color
  border-radius: .25rem
.tracker__project-title
  margin-right: 10px
