.container > footer
  width: 100%
  padding: 15px
  text-align: center
.navbar-nav .login-name
  margin-left: 10px
  margin-right: 10px
.buttons .btn
  margin-right: 10px
.panel-body
  vertical-align: middle
