p こんにちは#{@resource.email}さん
p パスワードリセットの要求が行われました。下記のリンクからパスワードの変更を行って下さい。
p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
p もしパスワードリセットの要求をした覚えがなければこのメールは無視して下さい。
p あなたのパスワードは上記のリンクをクリックして変更しないかぎり変更されることはありません。
